<turbo-frame id="audit-cases-page">
  <div class="space-y-4 mt-4">
    <% @audit_cases.each do |audit_case| %>
      <%= render "case_card", audit_case: audit_case %>
    <% end %>
  </div>

  <% if @has_more %>
    <%= turbo_frame_tag "audit-cases-page",
        src: audit_cases_path(page: @next_page, category: @category, severity: @severity, q: @search),
        loading: :lazy do %>
      <%= render "next_page_loader" %>
    <% end %>
  <% end %>
</turbo-frame>
