@import "tailwindcss";

@theme {
  --color-navy-50: #e8ecf2;
  --color-navy-100: #c5cdd9;
  --color-navy-200: #9eabbd;
  --color-navy-300: #7789a1;
  --color-navy-400: #59708b;
  --color-navy-500: #3c5775;
  --color-navy-600: #1e3a5f;
  --color-navy-700: #182f4c;
  --color-navy-800: #122339;
  --color-navy-900: #0c1826;

  --color-forest-50: #e6f4e6;
  --color-forest-100: #c1e3c1;
  --color-forest-200: #97d097;
  --color-forest-300: #6dbd6d;
  --color-forest-400: #4eae4e;
  --color-forest-500: #2e7d32;
  --color-forest-600: #286e2c;
  --color-forest-700: #205e24;
  --color-forest-800: #184e1c;
  --color-forest-900: #0e3410;
}
