<p><%= @resource.email %>님, 안녕하세요!</p>

<p>비밀번호 재설정이 요청되었습니다. 아래 링크를 클릭하여 새 비밀번호를 설정하세요.</p>

<p><%= link_to '비밀번호 재설정하기', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>본인이 요청하지 않으셨다면 이 메일을 무시하셔도 됩니다.</p>
<p>위 링크를 클릭하여 새 비밀번호를 설정하기 전까지 기존 비밀번호는 변경되지 않습니다.</p>

<p>— 실무 (silmu.kr)</p>
